- name: check if swap is enabled
  command: swapon -s
  register: swap
  become: yes

- name: disable swap
  command: swapoff -a
  become: yes
  when: swap is defined

- name: remove swap partition from fstab
  lineinfile:
    path: /etc/fstab
    state: absent
    regexp: '^/dev/mapper/centos-swap.*$'
  become: yes

- name: check nested virtualization status
  command: cat /sys/module/kvm_intel/parameters/nested
  register: nested_status
  become: yes

- name: create kvm-intel nested conf
  lineinfile:
    path: /etc/modprobe.d/kvm-nested.conf
    state: present
    create: yes
    regexp: "{{item}}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - 'options kvm-intel nested=1'
    - 'options kvm-intel enable_shadow_vmcs=1'
    - 'options kvm-intel enable_apicv=1'
    - 'options kvm-intel ept=1'
  register: created_nested_conf
  become: yes
  when: nested_status == "N"

- name: enable nested virtualization
  command: "{{item}}"
  with_items:
    - modprobe -r kvm_intel
    - modprobe -a kvm_intel
  register: enable_nested
  become: yes
  when: create_nested_conf.changed

- name: set selinux to permissive
  selinux:
    policy: targeted
    state: permissive
  become: yes

- name: stop and disable firewalld
  service:
    name: firewalld
    state: stopped
    enabled: no
  become: yes

- name: reboot after configuration changes
  command: shutdown -r +1
  async: 0
  poll: 0
  become: yes
  register: reboot
  when: enable_nested.changed

- name: wait for server after kernel config reboot
  wait_for:
    host: "{{ ansible_ssh_host }}"
    port: 22
    search_regex: OpenSSH
    state: started
    timeout: 600
    delay: 360
  delegate_to: localhost
  when: reboot.changed